Binaries
DerivedDataCache
Intermediate
Saved
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Collections
Content/Developers
Content/WukongResource
Content/Splash
Content/ThirdParty
Content/SFX
Content/Teams
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace