Binaries
DerivedDataCache
Intermediate
Saved
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Collections
Content/Developers
Content/ll
Content/ParagonSunWukong
Content/Resources
Content/SFX
Content/Splash
Content/ThirdParty
Content/VFX
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace